<footer>
    <div class="footer-menu">
        <a class="instant fold" href="/tags">tags</a>
        <a class="instant fold" href="/subscribe">subscribe</a>
        <a class="instant fold" href="/contact">contact</a>
        <a class="fold" href="/atom.xml">rss</a>
        <a class="fold" href="/privacy">privacy</a>
    </div>
    <div class="copyright">
        {{ .Site.Config.extra.footer_copyright }}
        <span>|</span>
        Built with
        <a href="https://github.com/tduyng/gozzi" rel="noreferrer" target="_blank">gozzi</a>
    </div>
</footer>
